@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="/Assets/img/logo/logo.png" rel="icon">
    <title>My Coffee</title>
    <link href="/Assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="/Assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/Assets/css/ruang-admin.min.css" rel="stylesheet">
    
    <link href="~/Content/Gridmvc.css" rel="stylesheet" />
  
</head>
<body id="page-top">
    <div id="wrapper">
        <!-- Sidebar -->
       @RenderPage("_MenuLeft.cshtml")
        <!-- Sidebar -->
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                <!-- TopBar -->
                @RenderPage("_MenuTop.cshtml")
                <!-- Topbar -->
                <!-- Container Fluid-->
                @RenderBody()
                <!---Container Fluid-->
            </div>
            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>
                            copyright &copy;
                            <script> document.write(new Date().getFullYear()); </script> - developed by
                            <b><a href="/Assets/https://indrijunanda.gitlab.io/" target="_blank">T&V</a></b>
                        </span>
                    </div>
                </div>
            </footer>
            <!-- Footer -->
        </div>
    </div>
    <!-- Scroll to top -->
    <a class="scroll-to-top rounded" href="/Assets/#page-top">
        <i class="fas fa-angle-up"></i>
    </a>
    <script src="/Assets/vendor/jquery/jquery.min.js"></script>
    <script src="/Assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/Assets/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="/Assets/js/ruang-admin.min.js"></script>
    <script src="/Assets/vendor/chart.js/Chart.min.js"></script>
    <script src="/Assets/js/demo/chart-area-demo.js"></script>
    <script src="/Assets/js/demo/chart-bar-demo.js"></script>
    <script src="~/scripts/gridmvc.js"></script>
    <script src="~/scripts/gridmvc.lang.ru.js"></script>
    <script src="~/scripts/gridmvc.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
