<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <base href="">
    <link rel="shortcut icon" type="image/png" href="/Assets/public/templates/images/pos.png">
    <title>POS MyCoffee</title>
    <link href="/Assets/public/templates/css/bootstrap.min.css" rel="stylesheet">
    <link href="/Assets/public/templates/css/font-awesome.min.css" rel="stylesheet">
    <link href="/Assets/public/templates/css/style.css" rel="stylesheet">
    <link href="/Assets/public/templates/css/jquery-ui.min.css" rel="stylesheet">
    <link href="/Assets/css/pos.css" rel="stylesheet" type="text/css" />
    <link href="/Assets/css/posjsproduct.css" rel="stylesheet" type="text/css" />
    <!--Start of Zendesk Chat Script-->
    <script async="" charset="utf-8" src="https://v2.zopim.com/?2Z9j3qQJSSSIytel3Hsn5sCSk4aspfwy" type="text/javascript">
    </script>
    <script type="text/javascript">
        window.$zopim || (function (d, s) {
            var z = $zopim = function (c) { z._.push(c) }, $ = z.s =
            d.createElement(s), e = d.getElementsByTagName(s)[0]; z.set = function (o) {
                z.set.
                _.push(o)
            }; z._ = []; z.set._ = []; $.async = !0; $.setAttribute("charset", "utf-8");
            $.src = "https://v2.zopim.com/?2Z9j3qQJSSSIytel3Hsn5sCSk4aspfwy"; z.t = +new Date; $.
            type = "text/javascript"; e.parentNode.insertBefore($, e)
        })(document, "script");
    </script>
    <!--End of Zendesk Chat Script-->
    <script type="text/javascript" src="https://v2.zopim.com/w?2Z9j3qQJSSSIytel3Hsn5sCSk4aspfwy"></script>
    <style media="print" class="jx_ui_StyleSheet" __jx__id="___$_2" type="text/css">
        .zopim {
            display: none !important;
        }
    </style>
    <style>
        .my-custom-scrollbar {
            position: relative;
            height: 200px;
            overflow: auto;
        }

        .table-wrapper-scroll-y {
            display: block;
        }
        table {
            border-collapse: collapse;
            border-spacing: 0;
            width: 100%;
            border: 1px solid #ddd;
        }

        th, td {
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2;
        }
        /* Content */
        .content {
            background-color: white;
            padding: 10px;
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
            transition: 0.3s;
            transition: transform 0.5s;
        }

        .content:hover {
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
            transform: scale(1.1);
        }
        /*end content product*/
    </style>
</head>
<body style="">
    <div class="zopim" __jx__id="___$_73 ___$_73" data-test-id="ChatWidgetButton" style="margin-top: 0px; margin-right: 0px; margin-bottom: 0px; padding: 0px; border: 0px; background: transparent; overflow: hidden; position: fixed; z-index: 16000002; width: 192px; height: 30px; bottom: 0px; left: 10px;"><iframe frameborder="0" style="background-color: transparent; vertical-align: text-bottom; position: relative; width: 100%; height: 100%; min-width: 100%; min-height: 100%; max-width: 100%; max-height: 100%; margin: 0px; overflow: hidden; display: block;" src="about:blank" data-test-id="ChatWidgetButton-iframe" title="Zendesk Chat widget button" __idm_frm__="96"></iframe></div><div class="zopim" __jx__id="___$_4 ___$_4" data-test-id="ChatWidgetWindow" style="margin-top: 0px; margin-right: 0px; margin-bottom: 0px; padding: 0px; border: 0px; background: transparent; overflow: hidden; position: fixed; z-index: 16000001; bottom: 0px; left: 10px; border-top-left-radius: 5px; border-top-right-radius: 5px; display: none; width: 290px; height: 400px; box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 3px 2px;"><iframe frameborder="0" style="background-color: transparent; vertical-align: text-bottom; position: relative; width: 100%; height: 100%; min-width: 100%; min-height: 100%; max-width: 100%; max-height: 100%; margin: 0px; overflow: hidden; display: block;" src="about:blank" data-test-id="ChatWidgetWindow-iframe" title="Zendesk Chat widget window" __idm_frm__="94"></iframe></div>
    <header>
        <nav id="navbar-container" class="navbar navbar- navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle menu-toggler pull-left" onclick="$('#sidebar').toggleClass('hidden-xs hidden-sm hidden-md')">
                        <span class="sr-only">Toggle sidebar</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <label style="margin: 13px 15px; color: white">
                                Cửa hàng
                            </label>
                        </li>
                        <li style="border-right: 1px solid #E1E1E1; padding-right: 15px;">
                            <select id="store-id" class="form-control" style="margin: 8px auto">
                                <option selected="" value="1">Cửa hàng số 1</option>
                            </select>
                        </li>
                        <li class="dropdown user-profile">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="hello">Xin chào, </span>My Coffee<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="account"><i class="fa fa-user"></i>Tài khoản</a></li>
                                <li><a href="authentication/logout"><i class="fa fa-power-off"></i>Thoát</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <section id="pos" class="main" role="main">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 padd-left-0">
                    <div class="main-content">
                        <div class="alert alert-dange ajax-error" role="alert">
                            <span style="font-weight: bold; font-size: 18px;">Thông báo!</span><br>

                            <div class="ajax-error-ct"></div>
                        </div>
                        <div class="alert ajax-success" role="alert" style="width: 350px;background: rgba(92,130,79,0.9); display:none; color: #fff;" data-original-title="" title="">
                            <span style="font-weight: bold; font-size: 18px;">Thông báo!</span>
                            <br>

                            <div class="ajax-success-ct"></div>
                        </div>
                        <!-- Start create employee -->
                        
                        <!-- end create employee -->
                        <!-- Start create function -->
                        <!-- end create function -->
                        <!-- Start create group -->
                        
                        <!-- end create function -->
                      
                        <!-- start create customer -->

                        <div class="modal fade" id="create-cust" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="End();"><span aria-hidden="true">×</span></button>
                                    </div>
                                    <div class="modal-body">
                                        <div id="resultado"></div>
                                        <div id="camera"></div>
                                    </div>
                                </div>
                            </div>
                            <style>
                                video {
                                    width: 800px;
                                    height: 200px;
                                }
                            </style>
                            <script src="/Assets/quagga.min.js"></script>
                        </div>

                        <!-- end customer -->
                        <!-- PRODUCTS -->
                        <div>
                            <div class="row">
                                <div class="orders-act">
                                    <div class="col-md-7">
                                        <div class="dropdown">
                                            <button onclick="myFunction()" class="dropbtn" id="search-pro-box"><i class="fa fa-search"></i> Nhấn tìm kiếm và chọn sản phẩm (F2)</button>
                                            <div id="myDropdown" class="dropdown-content">
                                                <input type="text" placeholder="Search.." id="myInput" onkeyup="filterFunction()">
                                                <div class="table-wrapper-scroll-y my-custom-scrollbar" style="overflow-x:auto;">
                                                    <table>
                                                        <tr>
                                                            <th>Hình</th>
                                                            <th>Tên</th>
                                                            <th>Giá</th>
                                                        </tr>
                                                        <tr>
                                                            <td><img src="/Assets/img/products/cappuccino2.png" style="width:40px; height:40px" /></td>
                                                            <td><a href="#" style="color:#337ab7">Cappuccino</a></td>
                                                            <td>45000</td>
                                                        </tr>
                                                        <tr>
                                                            <td><img src="/Assets/img/products/kemchese.png" style="width:40px; height:40px" /></td>
                                                            <td><a href="#" style="color:#337ab7">Cà phê</a></td>
                                                            <td>35000</td>
                                                        </tr>
                                                        <tr>
                                                            <td><img src="/Assets/img/products/cake1.png" style="width:40px; height:40px" /></td>
                                                            <td><a href="#" style="color:#337ab7">Bánh</a></td>
                                                            <td>55000</td>
                                                        </tr>
                                                        <tr>
                                                            <td><img src="/Assets/img/products/cappuccino2.png" style="width:40px; height:40px" /></td>
                                                            <td><a href="#" style="color:#337ab7">Cappuccino</a></td>
                                                            <td>45000</td>
                                                        </tr>
                                                        <tr>
                                                            <td><img src="/Assets/img/products/kemchese.png" style="width:40px; height:40px" /></td>
                                                            <td><a href="#" style="color:#337ab7">Cà phê</a></td>
                                                            <td>35000</td>
                                                        </tr>
                                                        <tr>
                                                            <td><img src="/Assets/img/products/cake1.png" style="width:40px; height:40px" /></td>
                                                            <td><a href="#" style="color:#337ab7">Bánh</a></td>
                                                            <td>55000</td>
                                                        </tr>

                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        <!--load sản phẩm-->
                                        <div class="main">
                                            <div id="myBtnContainer">
                                                <button class="btnproduct active" onclick="filterSelection('all')">Tất cả sản phẩm</button>
                                                <button class="btnproduct" onclick="filterSelection('cafe')"> Cà phê</button>
                                                <button class="btnproduct" onclick="filterSelection('cappu')"> Cappuccino</button>
                                                <button class="btnproduct" onclick="filterSelection('cake')"> Đồ ngọt</button>
                                            </div>

                                            <!-- Portfolio Gallery Grid -->
                                            <div class="rowproduct">
                                                <div class="column cafe">
                                                    <div class="content">
                                                        <a href="#"><img src="/Assets/img/products/kemchese.png" alt="Mountains" style="width:100%"></a>
                                                        <h4>Cà phê 1</h4>
                                                        <p>35.000</p>
                                                    </div>
                                                </div>
                                                <div class="column cafe">
                                                    <div class="content">
                                                        <a href="#"><img src="/Assets/img/products/kemchese.png" alt="Lights" style="width:100%"></a>
                                                        <h4>Cà phê 2</h4>
                                                        <p>35.000</p>
                                                    </div>
                                                </div>
                                                <div class="column cafe">
                                                    <div class="content">
                                                        <a href="#"><img src="/Assets/img/products/kemchese.png" alt="Nature" style="width:100%"></a>
                                                            <h4>Cà phê 3</h4>
                                                            <p>35.000</p>
                                                    </div>
                                                </div>

                                                <div class="column cappu">
                                                    <div class="content">
                                                        <a href="#"><img src="/Assets/img/products/cappuccino2.png" alt="Car" style="width:100%"></a>
                                                            <h4>Cappuccino 1</h4>
                                                            <p>45.000</p>
                                                    </div>
                                                </div>
                                                <div class="column cappu">
                                                    <div class="content">
                                                        <a href="#"><img src="/Assets/img/products/cappuccino2.png" alt="Car" style="width:100%"></a>
                                                        <h4>Cappuccino 2</h4>
                                                        <p>45.000</p>
                                                    </div>
                                                </div>
                                                <div class="column cappu">
                                                    <div class="content">
                                                        <a href="#"><img src="/Assets/img/products/cappuccino2.png" alt="Car" style="width:100%"></a>
                                                        <h4>Cappuccino 3</h4>
                                                        <p>45.000</p>
                                                    </div>
                                                </div>

                                                <div class="column cake">
                                                    <div class="content">
                                                        <a href="#"><img src="/Assets/img/products/cake1.png" alt="Car" style="width:100%"></a>
                                                        <h4>Bánh 1</h4>
                                                        <p>55.000</p>
                                                    </div>
                                                </div>
                                                <div class="column cake">
                                                    <div class="content">
                                                        <a href="#"><img src="/Assets/img/products/cake2.png" alt="Car" style="width:100%"></a>
                                                        <h4>Bánh 2</h4>
                                                        <p>55.000</p>
                                                    </div>
                                                </div>
                                                <div class="column cake">
                                                    <div class="content">
                                                        <a href="#"><img src="/Assets/img/products/cake3.png" alt="Car" style="width:100%"></a>
                                                        <h4>Bánh 3</h4>
                                                        <p>55.000</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Load sp js -->
                                            </div>
                                        </div>
                                    <div class="col-md-5">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="morder-info" style="padding: 4px;">
                                                    <div class="tab-contents" style="padding: 8px 6px;">
                                                        <div class="form-group marg-bot-10 clearfix">
                                                            <div style="padding:0px" class="col-md-4">
                                                                <label>Khách hàng</label>
                                                            </div>
                                                            <div class="col-md-8">
                                                                <div class="col-md-10 padd-0" style="position: relative;">
                                                                    <input id="makh" class="form-control" type="text" placeholder="Tìm khách hàng (F4)" style="border-radius: 3px 0 0 3px !important;"><span style="color: red; position: absolute; right: 5px; top:5px; " class="del-cys"></span>


                                                                </div>
                                                                <div class="col-md-2 padd-0">
                                                                    <button type="button" data-toggle="modal" onclick="Click();" data-target="#create-cust" class="btn btn-primary" style="border-radius: 0 3px 3px 0; box-shadow: none; padding: 7px 11px;">
                                                                        +
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        @*<div class="form-group marg-bot-10 clearfix">
                                                            <div style="padding:0px" class="col-md-4">
                                                                <label>NV bán hàng</label>
                                                            </div>
                                                            <div class="col-md-8">
                                                                <select class="form-control" id="sale_id">
                                                                    <option value="">--Chọn--</option>
                                                                    <option value="2">admin</option>
                                                                </select>
                                                            </div>
                                                        </div>*@
                                                        <div class="form-group marg-bot-10 clearfix">
                                                            <div style="padding:0px" class="col-md-4">
                                                                <label>Ghi chú</label>
                                                            </div>
                                                            <div class="col-md-8">
                                                                <textarea id="note-order" cols="" class="form-control" rows="2" style="border-radius: 0;"></textarea>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="table-wrapper-scroll-y my-custom-scrollbar">

                                                    <div style="overflow-x:auto;">
                                                        <table>
                                                            <tr>
                                                                <th>STT</th>
                                                                <th>Tên sản phẩm</th>
                                                                <th>Số lượng</th>
                                                                <th>Đơn giá</th>
                                                                <th>Tổng tiền</th>
                                                            </tr>
                                                            <tr>
                                                                <td>1</td>
                                                                <td>Smith</td>
                                                                <td class="text-center">50</td>
                                                                <td>50</td>
                                                                <td>50</td>
                                                            </tr>
                                                            <tr>
                                                                <td>2</td>
                                                                <td>Jackson</td>
                                                                <td class="text-center">94</td>
                                                                <td>94</td>
                                                                <td>94</td>
                                                            </tr>
                                                            <tr>
                                                                <td>3</td>
                                                                <td>Johnson</td>
                                                                <td class="text-center">67</td>
                                                                <td>67</td>
                                                                <td>67</td>
                                                            </tr>
                                                            <tr>
                                                                <td>4</td>
                                                                <td>Johnson</td>
                                                                <td class="text-center">67</td>
                                                                <td>67</td>
                                                                <td>67</td>
                                                            </tr>
                                                            <tr>
                                                                <td>5</td>
                                                                <td>Johnson</td>
                                                                <td class="text-center">67</td>
                                                                <td>67</td>
                                                                <td>67</td>
                                                            </tr>
                                                            <tr>
                                                                <td>6</td>
                                                                <td>Johnson</td>
                                                                <td class="text-center">67</td>
                                                                <td>67</td>
                                                                <td>67</td>
                                                            </tr>
                                                        </table>
                                                    </div>

                                                </div>
                                                <hr size="2">

                                            </div>
                                            <div class="col-md-12">
                                                <h4 class="lighter" style="margin-top: 0;">
                                                    <i class="fa fa-info-circle blue"></i>
                                                    Thông tin thanh toán
                                                </h4>

                                                <div class="morder-info" style="padding: 4px;">
                                                    <div class="tab-contents" style="padding: 8px 6px;">
                                                        <div class="form-group marg-bot-10 clearfix">
                                                            <div class="col-md-4">
                                                                <label>Giảm giá (F7)</label>
                                                            </div>
                                                            <div class="col-md-3">
                                                                <input type="text" class="form-control text-right txtMoney discount-order" placeholder="0" style="border-radius: 0 !important;">
                                                            </div>
                                                            <div class="col-md-3">
                                                                <label>Tổng cộng</label>
                                                            </div>
                                                            <div class="col-md-2">
                                                                <div class="total-after-discount">
                                                                   20000
                                                                </div>
                                                            </div>
                                                        </div>
                                                        @*<div class="form-group marg-bot-10 clearfix">
                                                            
                                                        </div>*@
                                                        <div class="form-group marg-bot-10 clearfix">
                                                            <div class="col-md-4 padd-right-0">
                                                                <label>Khách đưa (F8)</label>
                                                            </div>
                                                            <div class="col-md-8">
                                                                <input type="text" class="form-control text-right txtMoney customer-pay" placeholder="0" style="border-radius: 0 !important;">
                                                            </div>
                                                        </div>
                                                        <div class="form-group marg-bot-10 clearfix">
                                                            <div class="col-md-4">
                                                                <label class="debt">Tiền thừa</label>
                                                            </div>
                                                            <div class="col-md-8">
                                                                <div class="debt">0</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="btn-groups pull-right" style="margin-bottom: 50px;">
                                                    <button type="button" class="btn btn-primary" onclick="cms_save_orders(3)">
                                                        <i class="fa fa-check"></i> Lưu (F9)
                                                    </button>
                                                    <button type="button" class="btn btn-primary" onclick="cms_save_orders(4)">
                                                        <i class="fa fa-print"></i> Lưu và
                                                        in (F10)
                                                    </button>
                                                    <a href="/orders">
                                                        <button type="button" class="btn-back btn btn-default">
                                                            <i class="fa fa-arrow-left"></i> Hủy
                                                        </button>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="/Assets/public/templates/js/jquery.js"></script>
    <script src="/Assets/public/templates/js/jquery-ui.min.js"></script>
    <script src="/Assets/public/templates/js/html5shiv.min.js"></script>
    <script src="/Assets/public/templates/js/respond.min.js"></script>
    <script src="/Assets/public/templates/js/bootstrap.min.js"></script>
    <script src="/Assets/public/templates/js/ajax.js"></script>
    <script src="/Assets/js/posjs.js"></script>
    <script>
        //Javascript tìm kiếm sản phẩm
        function myFunction() {
            document.getElementById("myDropdown").classList.toggle("show");
        }

        function filterFunction() {
            var input, filter, ul, li, tr, i;
            input = document.getElementById("myInput");
            filter = input.value.toUpperCase();
            div = document.getElementById("myDropdown");
            tr = div.getElementsByTagName("tr");
            for (i = 0; i < tr.length; i++) {
                txtValue = tr[i].textContent || tr[i].innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else  {
                    tr[i].style.display = "none";
                }
            }
        }
        $('#search-pro-box').keypress(function (e) {
            if (e.which == 113) {
                e.preventDefault();
            }
        });
        //end tìm kiếm

        //
        function End() {
            Quagga.stop();
        }
        function Click() {
            Quagga.init({
                inputStream: {
                    name: "Live",
                    type: "LiveStream",
                    target: document.querySelector('#camera')    // Or '#yourElement' (optional)
                },
                decoder: {
                    readers: ["code_128_reader"]
                }
            }, function (err) {
                if (err) {
                    console.log(err);
                    return
                }
                console.log("Initialization finished. Ready to start");
                Quagga.start();

            });

            Quagga.onDetected(function (data) {
                debugger
                console.log(data.codeResult.code);
                var audioElement = document.createElement('audio');
                audioElement.setAttribute('src', 'barcode.wav');
                audioElement.play();
                var text = $("#makh").val(data.codeResult.code);
            });
        }
        //$(function () {
        //    $("#search-pro-box").autocomplete({
        //        minLength: 1,
        //        source: 'orders/cms_autocomplete_products/',
        //        focus: function (event, ui) {
        //            $("#search-pro-box").val(ui.item.prd_code);
        //            return false;
        //        },
        //        select: function (event, ui) {
        //            cms_select_product_sell(ui.item.ID);
        //            $("#search-pro-box").val('');
        //            return false;
        //        }
        //    }).keyup(function (e) {
        //        if (e.which === 13) {
        //            cms_autocomplete_enter_sell();
        //            $("#search-pro-box").val('');
        //            $(".ui-menu-item").hide();
        //        }
        //    })
        //        .autocomplete("instance")._renderItem = function (ul, item) {
        //            return $("<li>")
        //                .append("<div>" + item.prd_code + " - " + item.prd_name + "</div>")
        //                .appendTo(ul);
        //        };
        //});

        document.addEventListener('keyup', hotkey, false);
    </script>
    <ul id="ui-id-1" tabindex="0" class="ui-menu ui-widget ui-widget-content ui-autocomplete ui-front" style="display: none;"></ul><div role="status" aria-live="assertive" aria-relevant="additions" class="ui-helper-hidden-accessible"></div>
</body>
</html>

