@using CMS_ShopOnline.Areas.CMS_Sale.Models
@using CMS_ShopOnline.Helpers;
@model PhieuNhapViewModel
@{
}
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/ACE_Layout.cshtml";
}
<link href="/Assets/css/pos.css" rel="stylesheet" type="text/css" />
<style>
    .my-custom-scrollbar {
        position: relative;
        height: 300px;
        overflow: auto;
    }

    .table-wrapper-scroll-y {
        display: block;
    }
    .ui-autocomplete-row
          {
            padding:8px;
            background-color: #f4f4f4;
            border-bottom:1px solid #ccc;
            font-weight:bold;
          }
          .ui-autocomplete-row:hover
          {
            background-color: #ddd;
          }
</style>
@using (Html.BeginForm(FormMethod.Post))
{
<div class="container-fluid" id="container-wrapper">
    <div class="row">
        <div class="col-lg-3">
            <!-- Form Basic -->
            <input type="text" placeholder="Tìm kiếm nguyên liệu..." id="txtName" class="form-control marg-bot-10">
        </div>
        <div class="col-lg-9">
            <div style="display:flex">
                <div class="col-lg-4">
                    <select class="form-control" style="margin-left:22px">
                        <option selected>Chọn nhà cung cấp</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
                <div class="col-lg-6">
                    <div class="form-group" style="display:flex">
                        <label style="width: 215px; margin: 20px; margin-top: 10px;">Nhân viên nhập:</label>
                        <input type="text" class="form-control" readonly />
                    </div>
                </div>
            </div>
            <!-- General Element -->
                <div class="card-body">
                    <div class="col-md-12">
                        <div class="table-wrapper-scroll-y my-custom-scrollbar">

                            <table class="table table-bordered table-striped mb-0">
                                <thead>
                                    <tr>
                                        <th scope="col">STT</th>
                                        <th scope="col">Tên nguyên liệu</th>
                                        <th scope="col">Đơn giá</th>
                                        <th scope="col">Số lượng</th>
                                        <th scope="col">Tổng tiền</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>Mark</td>
                                        <td>Otto</td>
                                        <td>mdo</td>
                                        <td>Otto</td>

                                    </tr>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>Mark</td>
                                        <td>Otto</td>
                                        <td>mdo</td>
                                        <td>Otto</td>

                                    </tr>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>Mark</td>
                                        <td>Otto</td>
                                        <td>mdo</td>
                                        <td>Otto</td>

                                    </tr>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>Mark</td>
                                        <td>Otto</td>
                                        <td>mdo</td>
                                        <td>Otto</td>

                                    </tr>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>Mark</td>
                                        <td>Otto</td>
                                        <td>mdo</td>
                                        <td>Otto</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>Mark</td>
                                        <td>Otto</td>
                                        <td>
                                            <div class="qty mt-5">
                                                <input type="number" min="1" max="5" class="qty">
                                            </div>
                                        </td>
                                        <td>Otto</td>

                                    </tr>
                                </tbody>
                            </table>

                        </div>
                        <hr size="1">
                        
                    </div>
                    
                    <div class="col-md-12">
                        <div style="display:flex">
                            <div style="padding:0px">
                                <label>Ghi chú</label>
                            </div>
                            <div class="col-lg-5">
                                <textarea class="form-control" rows="2" style="border-radius: 0;"></textarea>
                            </div>
                            <div class="btn-groups pull-right" style="margin-left: 30px;float:right">
                                <button type="submit" class="btn btn-primary" onclick="">
                                    <i class="fa fa-check"></i> Lưu (F9)
                                </button>
                                <button type="button" class="btn btn-primary" onclick="cms_save_orders(4)">
                                    <i class="fa fa-print"></i> Lưu và
                                    in (F10)
                                </button>
                                <a href="/orders">
                                    <button type="button" class="btn-back btn btn-default">
                                        <i class="fa fa-arrow-left"></i> Hủy
                                    </button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>
}
<script>
$(document).ready(function (){
    $('#txtName').autocomplete({
        minLength: 1,
        source: function (request, response) {
            $.ajax({
                url: "/InOrder/Search/",
                dataType: "json",
                type: "GET",
                contentType: 'application/json; charset=utf-8',
                data: { name: request.term },
                success: function (data) {
                    response(data);
                },
                error: function (err) {
                    alert(err);
                }
            });
        },
        focus: updateTextBox,
        select: function (e, ui) {
            SelectProducts(ui.item.Id);
        },
    })

       .autocomplete('instance')._renderItem = function (ul, item) {
           return $('<li class="ui-autocomplete-row"></li>')
               .append('<img src="/Areas/CMS_Sale/Image/NguyenLieu/' + item.HinhAnh + '" width="70" />&nbsp;&nbsp;&nbsp;Tên SP : ' + item.Ten + ' - Đơn giá : ' + item.DonGia + '')
               .appendTo(ul);
           function updateTextBox(event, ui) {
               $(this).val(ui.item.Id);
               return false;
           }
       };
});
</script>
