
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/ACE_Layout.cshtml";
}

<div class="container-fluid" id="container-wrapper">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Sản phẩm</h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="./">Trang chủ</a></li>
            <li class="breadcrumb-item">Quản lý</li>
            <li class="breadcrumb-item active" aria-current="page">Sản phẩm</li>
        </ol>
    </div>
    <div class="row">
        <div class="col-lg-12 mb-4">
                <!-- Simple Tables -->
                <div class="card">
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <div class="col-md-8">
                            <div class="order-search" style="margin: 10px 0px; position: relative;">
                                <input type="text" class="form-control ui-autocomplete-input" onkeyup="filterFunction()" placeholder="Nhập mã sản phẩm hoặc tên sản phẩm..." id="search-pro-box" autocomplete="off">
                            </div>
                        </div>
                        <div class="col-md-2">
                            @*<div class="dropdown">
                                <button class="btn btn-primary" type="button" id="dropdownMenuButton"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Tất cả sản phẩm <i class="fa fa-caret-down"></i>
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="#">Tất cả sản phẩm</a>
                                    <a class="dropdown-item" href="#">Dịch vụ</a>
                                </div>
                            </div>*@
                                <select class="form-control">
                                    <option>Tất cả</option>
                                    <option>Sản phẩm</option>
                                    <option>Dịch vụ</option>
                                </select>
                        </div>
                        <div class="col-md-2">
                            <a href="@Url.Action("Create", "Products", new { area ="CMS_Sale" })">
                                <button type="button" class="btn btn-primary">
                                    <i class="fa fa-plus-circle"></i> Sản phẩm
                                </button>
                            </a>
                        </div>
                        
                    </div>
                    <div class="table-responsive">
                        <table class="table align-items-center table-flush">
                            <thead class="thead-light">
                                <tr>
                                    <th>Sản phẩm</th>
                                    <th>Mã sản phẩm</th>
                                    <th>SL</th>
                                    <th>Giá nhập</th>
                                    <th>Giá bán</th>
                                    <th>
                                        <select class="custom-select">
                                            <option>Nhóm hàng</option>
                                            <option>Tất cả</option>
                                            <option>Cafe</option>
                                            <option>Đồ ăn</option>
                                            <option>Nước ngọt</option>
                                        </select>
                                    </th>
                                    <th>Hình</th>
                                    <th>
                                        <select class="custom-select">
                                            <option>Loại hàng</option>
                                            <option>Tất cả</option>
                                            <option>Sản phẩm</option>
                                            <option>SP có thuộc tính</option>
                                        </select>
                                    </th>
                                </tr>
                            </thead>
                            <tbody id="myproducts">
                                <tr>
                                    <td>Cappuccino</td>
                                    <td><a href="#">SP001</a></td>
                                    <td>1</td>
                                    <td>30000</td>
                                    <td>42000</td>
                                    <td>Cafe</td>
                                    <td><img src="/Assets/img/products/cappuccino.png" style="width:60px; height:60px" /></td>
                                    <td style="display:flex">
                                        <button class="btn btn-danger" style="margin:5px"><i class="fas fa-pencil-alt"></i></button>
                                         <div class="dropdown">
                                             <button class="btn btn-primary" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin:5px">
                                                 <i class="fas fa-ellipsis-h"></i>
                                             </button>
                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                <a class="dropdown-item" href="#">Ngừng kinh doanh</a>
                                                <a class="dropdown-item" href="#">Xóa</a>
                                            </div>
                                        </div>    
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="card-footer"></div>
                </div>
            </div>
    </div>
    <!--Row-->
</div>
<script>
    function filterFunction() {
        var input, filter, ul, li, tr, i;
        input = document.getElementById("search-pro-box");
        filter = input.value.toUpperCase();
        div = document.getElementById("myproducts");
        tr = div.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            txtValue = tr[i].textContent || tr[i].innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                tr[i].style.display = "";
                
            } else {
                tr[i].style.display = "none";
            }
            
        }
    }
</script>

